html {
    margin:0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
body {
    min-height: 100vh;
    margin: 0;
    background-color: #ededed;
    padding-top: 2.5rem;
}
.vueduino-style {
    padding-top: 50px;
    border-radius: 20px;
    background: rgb(0,104,110);
    background: linear-gradient(144deg, rgba(0,104,110,1) 0%, rgba(0,61,67,1) 100%);
    -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
}
.columns {
    padding: 1.5rem;
}
.vueduino-icon {
    top: -50px;
    left: 50px;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.3);
}
.vueduino-card-content {
    background-color: #ededed;
    -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
    margin: 1rem;
    border-radius: 20px;
    
}
.vueduino-footer {
    background-color: #ededed   ;
}
.centered-icon { 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 25pt;
}
.vuefuino-table-style {
    border-radius: 20px;
    background-color: #ededed;
}
