<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Importing stylesheet files -->
        <link rel="stylesheet" href="css/bulma.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="css/chartist.min.css">
        <title>Dashboard</title>
    </head>
    <body>
        <div id="app">
            <div class="container">
                <!-- long top card -->
                <div class="columns">
                    <div class="column">
                        <div class="card vueduino-style">
                            <div class="vueduino-card-content">
                                <div class="card-content">
                                    <p class="title has-text-dark">
                                        <span class="has-text-link  ">Device:</span>
                                        {{board.model}}
                                        <button v-if="board.status[] =='connected'" class="button is-success">Connected</button>
                                        <button v-if="board.status[] =='timeout'" class="button is-warning is-loading"></button>
                                        <button v-if="board.status[2] =='disconnected'" class="button is-danger">Disconnected</button>
                                    </p>
                                    <p class="subtitle">
                                    </p>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>  
                <div class="columns">
                    <div class="column is-one-third">
                        <div class="card vueduino-style ">
                            <div class="vueduino-icon">
                                <i class="mdi centered-icon mdi-chart-bar"></i>
                            </div>
                            <div class="vueduino-card-content">
                                <div class="card-content">
                                    <p class="title has-text-dark">
                                        Hourly Temprature
                                    </p>
                                    <p class="subtitle">
                                        recorded data shows an odd increase in temprature.
                                    </p>
                                    <div class="ct-chart"></div>
                                </div>
                            </div>
                          </div>
                    </div>
                    <div class="column  is-one-third">
                        <div class="card vueduino-style ">
                            <div class="vueduino-icon">
                                <i class="mdi centered-icon" :class="card.icon"></i>
                            </div>
                            <div class="vueduino-card-content">
                                <div class="card-content">
                                    <p class="title has-text-dark">
                                      {{ card.title }}
                                    </p>
                                    <p class="subtitle">
                                      {{card.details}}
                                    </p>
                                </div>
                            </div>
                          </div>
                    </div>
                    <div class="column  is-one-third">
                        <div class="card vueduino-style ">
                            <div class="vueduino-icon">
                                <i class="mdi centered-icon" :class="card.icon"></i>
                            </div>
                            <div class="vueduino-card-content">
                                <div class="card-content">
                                    <p class="title has-text-dark">
                                      {{ card.title }}
                                    </p>
                                    <p class="subtitle">
                                      {{card.details}}
                                    </p>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="columns"><div class="column  is-one-third">
                    <div class="card vueduino-style ">
                        <div class="vueduino-icon">
                            <i class="mdi centered-icon mdi-flash"></i>
                        </div>
                        <div class="vueduino-card-content">
                            <div class="card-content">
                                <p class="title has-text-dark">
                                  Pins states
                                </p>
                                <p class="subtitle">
                                  The full details of your board's
                                </p>
                                <table class="table is-fullwidth is-hoverable vuefuino-table-style">
                                    <thead>
                                      <tr>
                                        <th>Pin</th>
                                        <th>State</th>
                                      </tr>
                                    </thead>
                                    <tbody v-for="pin in pins" :key="pin.title">
                                      <tr>
                                        <td>{{pin.name}}</td>
                                        <td>{{pin.state}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
            </div>
        </div>
        <!-- footer / the last set of columns-->
        <div class="columns vueduino-footer">
            <div class="column">
                <figure class="image is-48x48" style="margin: auto;">
                    <img src="../assests/vueDuino-icon.png">
                  </figure>
            </div>
        </div>
        <!-- Importing JavaScript files -->
        <script src="JS/vue.js"></script>
        <script src="JS/chartist.min.js"></script>
        <script src="JS/main.js"></script>
        <script src="JS/chart.data.js"></script>
    </body>
</html>
